
.main-wrapper {
    margin-top: 10px;
    padding-bottom: 20px;
    //background-color: blue;
    border-bottom: 2px solid rgba(0,0,0,0.2);
}
.wrapper-content {
    //background-color: yellow;
    margin: 0 auto;
    text-align: center;
}
.map-wrapper {
    margin: 0 auto;
    min-width: 900px;
    width: 900px;
    height: 440px;
    margin-top: 20px;
}